<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  	
    <% @booklist.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.title %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

